.task-add-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-add-btn:hover {
  background-color: #0056b3;
}

.task-cancel-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  background-color: #ccc;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-cancel-btn:hover {
  background-color: #999;
}


.icon-btn {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.icon-btn:hover {
  background-color: rgba(15, 9, 9, 0.12);
}

.icon-btn.delete:hover {
  background-color: rgba(255, 0, 0, 0.15);
}
.icon-desktop {
  display: inline;
}

.icon-mobile {
  display: none;
}

@media (max-width: 768px) {
  .icon-desktop {
    display: none;
  }

  .icon-mobile {
    display: inline;
  }
}
