.task-add-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-add-btn:hover {
  background-color: #0056b3;
}

.task-cancel-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  background-color: #ccc;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-cancel-btn:hover {
  background-color: #999;
}