.task-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee; /* optional separator between tasks */
}

.task-text {
  display: block;
  flex: 1;
  margin: 0 12px;
  font-size: 18px;       /* change size here */
  text-decoration: none; /* will be overridden dynamically if completed */
  transition: opacity 0.2s;
  text-align: left;
}

.task-text.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Form container */
.task-form {
  display: flex;
  gap: 8px;          /* space between input and button */
  margin-bottom: 12px;
}

/* Input box */
.task-input {
  flex: 1;            /* input takes available space */
  font-size: 18px;    /* bigger text */
  padding: 10px 12px; /* taller input */
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.task-input:focus {
  border-color: #233f5d; /* optional focus highlight */
}


.task-title {
  display: block;
  margin: 0 12px;
  text-decoration: none; /* will be overridden dynamically if completed */
  transition: opacity 0.2s;
  text-align: left;
  font-size: 1.1rem;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}

.task-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.task-date {
  margin: 0 12px;
  text-align: left;
  font-size: 1rem;
  color: gray;
}

.task-content.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-category {
  margin: 0 12px;
  text-align: left;
  font-size: 0.8rem;
}
.task-category.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.task-date.overdue {
  color: red;
  opacity: 0.6;
}


.child-indicator {
  /* opacity: 0.5; */
  font-weight: bold;
  font-size: 18px;
}