.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #1c11aa;
  padding: 24px;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-input {
  width: 90%;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  white-space: nowrap;
  overflow-x: auto;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  gap: 8px;
}

.task-add-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-add-btn:hover {
  background-color: #0056b3;
}

.task-cancel-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  background-color: #ccc;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-cancel-btn:hover {
  background-color: #999;
}

.task-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 16px;
  /* margin-right: 4px; */
}
.task-textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  line-height: 1.4;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  height: 120px;
  overflow-y: auto;
  /* transition: height 0.15s ease; */
}
