name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Start Vite preview
        run: |
          npm run preview -- --host &
          npx wait-on http://localhost:4173

      - name: Run Cypress
        run: npm run cy:run
